## Sejam Bem-Vindos ao curso <br> "Introdução ao Processamento Paralelo e Distribuído Utilizando o Apache Spark"

Instrutor: M.Sc. Fernando Pereira Gonçalves de Sá (fpgdesa@gmail.com)

#### Trabalharemos com o Spark versão 3.2.0 <br>
#### Todas as bibliotecas que necessitaremos já estão instaladas e configuradas em nosso container Docker

In [1]:
! pyspark --version

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.2.0
      /_/

Using Scala version 2.12.15, OpenJDK 64-Bit Server VM, 11.0.11
Branch HEAD
Compiled by user ubuntu on 2021-10-06T12:46:30Z
Revision 5d45a415f3a29898d92380380cfd82bfc7f579ea
Url https://github.com/apache/spark
Type --help for more information.

In [ ]:
! mkdir files

In [1]:
# Instalando gdown para realizar download a partir do Google Drive

# ! pip install gdown   # retire o comentário
import gdown

url_covid = 'https://drive.google.com/uc?id=1uefwk3fhAhCWywoiozyJ7h0iLo0yMIpK'
output_covid = './files/dados_covid.csv' 

# Baixando dados sobre a Covid na cidade do Rio de Janeiro
path_dados_covid = gdown.download(url_covid, output_covid, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1uefwk3fhAhCWywoiozyJ7h0iLo0yMIpK
To: /application/application/files/dados_covid.csv
100% 31.5M/31.5M [00:02<00:00, 12.2MB/s]

In [2]:
! cd files && ls

dados_covid.csv

### Vamos conhecer duas formas de manipular o conjunto de dados

<ul>
    <li>Utilizando o DataFrame;</ui>
    <li>A partir da construção de RDDs</ui>
 </ul>

In [3]:
from pyspark.sql import SparkSession
#from pyspark.sql import Row

# Primeiro criamos uma sessão do Spark
spark = (SparkSession
    .builder
    .appName("CovidApp")
    .getOrCreate())

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/24 14:08:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# Pela abordagem direta
schema = """`CD_GEOCODB` STRING, 
            `NM_BAIRRO` STRING, 
            `dt_notific` STRING, 
            `sexo` STRING,
            `faixa_etaria` STRING, 
            `evolucao` STRING, 
            `raca_cor` STRING, 
            `data_atualizacao` STRING"""


df_dados_covid = spark.read.format("csv").\
              option("header", "true").\
              option("inferSchema", "false").\
              option("delimiter",';').\
              schema(schema).\
              load(path_dados_covid)

In [5]:
df_dados_covid.printSchema()

root
 |-- CD_GEOCODB: string (nullable = true)
 |-- NM_BAIRRO: string (nullable = true)
 |-- dt_notific: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- faixa_etaria: string (nullable = true)
 |-- evolucao: string (nullable = true)
 |-- raca_cor: string (nullable = true)
 |-- data_atualizacao: string (nullable = true)

In [8]:
df_dados_covid.show()

+------------+--------------------+----------+----+------------+----------+--------+----------------+
|  CD_GEOCODB|           NM_BAIRRO|dt_notific|sexo|faixa_etaria|  evolucao|raca_cor|data_atualizacao|
+------------+--------------------+----------+----+------------+----------+--------+----------------+
|330455705105|              COSMOS|06-11-2020|   F|  De 50 a 59|     Óbito|   Parda|      08-09-2021|
|330455705027|           MANGUEIRA|10-14-2020|   F|  De 40 a 49|Recuperado|Ignorado|      08-09-2021|
|330455705058|           ENCANTADO|12-04-2020|   F|  De 70 a 79|     Óbito|Ignorado|      08-09-2021|
|330455705076|       ROCHA MIRANDA|11-30-2020|   F|  De 90 a 99|Recuperado|   Preta|      08-09-2021|
|330455705135|RECREIO DOS BANDE...|11-30-2020|   M|  De 70 a 79|     Óbito|Ignorado|      08-09-2021|
|330455705079|       BENTO RIBEIRO|12-10-2020|   M|  De 60 a 69|Recuperado|Ignorado|      08-09-2021|
|330455705159|       VASCO DA GAMA|12-07-2020|   M|  De 70 a 79|Recuperado|   Preta|      08-09-2021|
|330455705073|           MADUREIRA|12-15-2020|   F|  De 70 a 79|     Óbito|  Branca|      08-09-2021|
|330455705005|             CATUMBI|12-27-2020|   M|  De 70 a 79|     Óbito|  Branca|      08-09-2021|
|330455705010|              GLÓRIA|12-28-2020|   F|  De 60 a 69|     Óbito|Ignorado|      08-09-2021|
|330455705108|            SEPETIBA|12-14-2020|   F|  De 60 a 69|Recuperado|   Parda|      08-09-2021|
|330455705002|              GAMBOA|12-20-2020|   F|  De 50 a 59|     Óbito|  Branca|      08-09-2021|
|330455705108|            SEPETIBA|12-28-2020|   F|  De 40 a 49|Recuperado|Ignorado|      08-09-2021|
|330455705108|            SEPETIBA|12-19-2020|   M|    De 0 a 9|Recuperado|   Preta|      08-09-2021|
|330455705105|              COSMOS|12-16-2020|   M|  De 30 a 39|Recuperado|   Parda|      08-09-2021|
|330455705019|             IPANEMA|12-30-2020|   F|  De 70 a 79|     Óbito|Ignorado|      08-09-2021|
|330455705106|           PACIÊNCIA|12-21-2020|   F|  De 70 a 79|     Óbito|   Parda|      08-09-2021|
|330455705102|        CAMPO GRANDE|12-18-2020|   F|  De 30 a 39|Recuperado|  Branca|      08-09-2021|
|330455705102|        CAMPO GRANDE|12-21-2020|   F|  De 70 a 79|     Óbito|   Parda|      08-09-2021|
|330455705102|        CAMPO GRANDE|12-29-2020|   M|  De 50 a 59|Recuperado|  Branca|      08-09-2021|
+------------+--------------------+----------+----+------------+----------+--------+----------------+
only showing top 20 rows

In [9]:
# trabalhando com RDD puro

rdd_covid = spark.sparkContext.textFile(path_dados_covid)

header = rdd_covid.first()
rdd_dados_covid = rdd_covid.filter(lambda t: t != header).map(lambda t: t.split(";"))#.map(lambda r: Row(int(r[0]),r[1], r[2], r[3], r[4], r[5], r[6], r[7]))

In [11]:
rdd_covid.take(5)  # collect é uma operação custosa!

['CD_GEOCODB;NM_BAIRRO;dt_notific;sexo;faixa_etaria;evolucao;raca_cor;data_atualizacao',
 '330455705105;COSMOS;06-11-2020;F;De 50 a 59;Óbito;Parda;08-09-2021',
 '330455705027;MANGUEIRA;10-14-2020;F;De 40 a 49;Recuperado;Ignorado;08-09-2021',
 '330455705058;ENCANTADO;12-04-2020;F;De 70 a 79;Óbito;Ignorado;08-09-2021',
 '330455705076;ROCHA MIRANDA;11-30-2020;F;De 90 a 99;Recuperado;Preta;08-09-2021']

## Realizando algumas análises

### Total de categorias de evolução por bairro

O Painel Rio divide os casos de COVID-19 registrados em diferentes categorias de evolução, são eles:

<ul>
    <li>Óbito</li>
    <li>Recuperado</li>
    <li>Ativo </li>
 </ul>

In [12]:
from pyspark.sql.functions import *

In [14]:
df_dados_covid.count()

410685

In [21]:
# Vamos obter uma lista distinta de bairros
                        #----------------- transformação ------------------------------- # ação
bairros = df_dados_covid.select("NM_BAIRRO").distinct().rdd.map(lambda t: t['NM_BAIRRO']).collect()

In [24]:
len(bairros)

161

In [23]:
bairros

['MARÉ',
 'LEME',
 'COPACABANA',
 'HONÓRIO GURGEL',
 'CASCADURA',
 'SENADOR VASCONCELOS',
 'PARQUE COLUMBIA',
 'RIBEIRA',
 'COMPLEXO DO ALEMÃO',
 'HIGIENÓPOLIS',
 'TODOS OS SANTOS',
 'FREGUESIA (ILHA DO GOVERNADOR)',
 'RIACHUELO',
 'JARDIM CARIOCA',
 'OSWALDO CRUZ',
 'DEL CASTILHO',
 'PARADA DE LUCAS',
 'PIEDADE',
 'ZUMBI',
 'LAGOA',
 'CACHAMBI',
 'MANGUEIRA',
 'BENTO RIBEIRO',
 'PAVUNA',
 'PITANGUEIRAS',
 'GERICINÓ',
 'CORDOVIL',
 'VISTA ALEGRE',
 'PARQUE ANCHIETA',
 'ENGENHEIRO LEAL',
 'SANTO CRISTO',
 'VILA ISABEL',
 'GARDÊNIA AZUL',
 'GRAJAÚ',
 'ÁGUA SANTA',
 'VARGEM GRANDE',
 'RAMOS',
 'TAUÁ',
 'PRAÇA SECA',
 'ALTO DA BOA VISTA',
 'CACUIA',
 'LINS DE VASCONCELOS',
 'HUMAITÁ',
 'PRAIA DA BANDEIRA',
 'GUARATIBA',
 'CIDADE DE DEUS',
 'RICARDO DE ALBUQUERQUE',
 'MARACANÃ',
 'VIDIGAL',
 'VILA MILITAR',
 'SENADOR CAMARÁ',
 'SANTA CRUZ',
 'COELHO NETO',
 'VICENTE DE CARVALHO',
 'SAMPAIO',
 'INHOAIBA',
 'VASCO DA GAMA',
 'JARDIM BOTÂNICO',
 'ENCANTADO',
 'TIJUCA',
 'ANCHIETA',
 'VAZ LOBO',
 'LARANJEIRAS',
 'ITANHANGÁ',
 'PORTUGUESA',
 'GALEÃO',
 'ENGENHO DA RAINHA',
 'VILA DA PENHA',
 'BARRA DA TIJUCA',
 'BANCÁRIOS',
 'JARDIM SULACAP',
 'ROCHA MIRANDA',
 'CAMPO DOS AFONSOS',
 'CIDADE NOVA',
 'VARGEM PEQUENA',
 'CAMORIM',
 'JARDIM GUANABARA',
 'SÃO CONRADO',
 'CAMPO GRANDE',
 'SÃO FRANCISCO XAVIER',
 'BARRA DE GUARATIBA',
 'QUINTINO BOCAIUVA',
 'COLÉGIO',
 'ENGENHO NOVO',
 'PENHA CIRCULAR',
 'JACAREPAGUÁ',
 'TANQUE',
 'TURIAÇU',
 'ESTÁCIO',
 'CATUMBI',
 'BOTAFOGO',
 'MARECHAL HERMES',
 'ACARI',
 'PENHA',
 'CATETE',
 'PAQUETÁ',
 'COCOTÁ',
 'PADRE MIGUEL',
 'IGNORADO',
 'CAJU',
 'GUADALUPE',
 'CAMPINHO',
 'VILA KOSMOS',
 'CAVALCANTE',
 'PACIÊNCIA',
 'GÁVEA',
 'SANTÍSSIMO',
 'URCA',
 'OLARIA',
 'IPANEMA',
 'COSTA BARROS',
 'CIDADE UNIVERSITÁRIA',
 'PILARES',
 'ABOLIÇÃO',
 'TOMÁS COELHO',
 'RIO COMPRIDO',
 'SEPETIBA',
 'GLÓRIA',
 'BONSUCESSO',
 'RECREIO DOS BANDEIRANTES',
 'MANGUINHOS',
 'CENTRO',
 'TAQUARA',
 'JACARÉZINHO',
 'ANDARAÍ',
 'JARDIM AMÉRICA',
 'DEODORO',
 'COSME VELHO',
 'LEBLON',
 'SANTA TERESA',
 'COSMOS',
 'SÃO CRISTOVÃO',
 'PRAÇA DA BANDEIRA',
 'MADUREIRA',
 'FLAMENGO',
 'GRUMARI',
 'BARROS FILHO',
 'IRAJÁ',
 'INHAÚMA',
 'PECHINCHA',
 'REALENGO',
 'ENGENHO DE DENTRO',
 'ROCINHA',
 'GAMBOA',
 'MAGALHÃES BASTOS',
 'ROCHA',
 'CURICICA',
 'VILA VALQUEIRE',
 'JOÁ',
 'MARIA DA GRAÇA',
 'BRÁS DE PINA',
 'FREGUESIA (JACAREPAGUÁ)',
 'PEDRA DE GUARATIBA',
 'JACARÉ',
 'BANGU',
 'ANIL',
 'MÉIER',
 'SAÚDE',
 'BENFICA',
 'VIGÁRIO GERAL',
 'MONERO']

In [42]:
# Utilizando Built-in Functions do DataFrame

   
df_dados_covid.select("NM_BAIRRO", "evolucao").\
               where(col("evolucao") == "Óbito").\
               groupBy("NM_BAIRRO", "evolucao").\
               agg(count("*").alias("Total de Óbitos")).\
               show()

+------------------+--------+---------------+
|         NM_BAIRRO|evolucao|Total de Óbitos|
+------------------+--------+---------------+
|             PENHA|   Óbito|            301|
|            MONERO|   Óbito|             39|
|     VASCO DA GAMA|   Óbito|             58|
|         GUADALUPE|   Óbito|            258|
|            COSMOS|   Óbito|            299|
| PRAIA DA BANDEIRA|   Óbito|             24|
|            GLÓRIA|   Óbito|             60|
|            OLARIA|   Óbito|            311|
|BARRA DE GUARATIBA|   Óbito|             25|
|            TIJUCA|   Óbito|            981|
|       VILA KOSMOS|   Óbito|             82|
|     VARGEM GRANDE|   Óbito|             55|
|            GALEÃO|   Óbito|             66|
|    VARGEM PEQUENA|   Óbito|             79|
|              TAUÁ|   Óbito|            119|
|      DEL CASTILHO|   Óbito|            105|
|     BENTO RIBEIRO|   Óbito|            250|
|            COCOTÁ|   Óbito|             24|
|           PIEDADE|   Óbito|            235|
|           TAQUARA|   Óbito|            599|
+------------------+--------+---------------+
only showing top 20 rows

In [40]:
# Usando processamento SQL

# criamos a view da tabela
df_dados_covid.createOrReplaceTempView("COVID_tbl")

In [41]:
# vamos obter o mesmo resultado anterior, porém utilizando SQL

spark.sql("""SELECT NM_BAIRRO, evolucao, COUNT(*) as `Total de Óbitos`
             FROM COVID_tbl
             WHERE evolucao == 'Óbito'
             GROUP BY NM_BAIRRO, evolucao
          """).show()

+------------------+--------+---------------+
|         NM_BAIRRO|evolucao|Total de Óbitos|
+------------------+--------+---------------+
|             PENHA|   Óbito|            301|
|            MONERO|   Óbito|             39|
|     VASCO DA GAMA|   Óbito|             58|
|         GUADALUPE|   Óbito|            258|
|            COSMOS|   Óbito|            299|
| PRAIA DA BANDEIRA|   Óbito|             24|
|            GLÓRIA|   Óbito|             60|
|            OLARIA|   Óbito|            311|
|BARRA DE GUARATIBA|   Óbito|             25|
|            TIJUCA|   Óbito|            981|
|       VILA KOSMOS|   Óbito|             82|
|     VARGEM GRANDE|   Óbito|             55|
|            GALEÃO|   Óbito|             66|
|    VARGEM PEQUENA|   Óbito|             79|
|              TAUÁ|   Óbito|            119|
|      DEL CASTILHO|   Óbito|            105|
|     BENTO RIBEIRO|   Óbito|            250|
|            COCOTÁ|   Óbito|             24|
|           PIEDADE|   Óbito|            235|
|           TAQUARA|   Óbito|            599|
+------------------+--------+---------------+
only showing top 20 rows

In [45]:
# obtenção do total de óbitos utilizando RDD puro

rdd_dados_covid.filter(lambda l: l[5] == 'Óbito').map(lambda l: (l[1], 1)).reduceByKey(lambda a,b : a+b).collect()

[('COSMOS', 299),
 ('ENCANTADO', 72),
 ('CATUMBI', 70),
 ('GLÓRIA', 60),
 ('GAMBOA', 43),
 ('PACIÊNCIA', 419),
 ('CAMPO GRANDE', 1764),
 ('SENADOR CAMARÁ', 417),
 ('SANTA CRUZ', 939),
 ('JACAREPAGUÁ', 553),
 ('REALENGO', 932),
 ('BANGU', 1228),
 ('BRÁS DE PINA', 284),
 ('MÉIER', 313),
 ('LINS DE VASCONCELOS', 161),
 ('RAMOS', 201),
 ('VILA ISABEL', 420),
 ('CENTRO', 309),
 ('PRAÇA SECA', 356),
 ('BARRA DA TIJUCA', 662),
 ('FREGUESIA (JACAREPAGUÁ)', 403),
 ('DEL CASTILHO', 105),
 ('CASCADURA', 151),
 ('ENGENHO NOVO', 222),
 ('ABOLIÇÃO', 85),
 ('SÃO CONRADO', 48),
 ('VIGÁRIO GERAL', 120),
 ('ENGENHO DA RAINHA', 129),
 ('PORTUGUESA', 117),
 ('PITANGUEIRAS', 43),
 ('INHOAIBA', 273),
 ('VILA DA PENHA', 161),
 ('RIO COMPRIDO', 234),
 ('LAGOA', 89),
 ('COSME VELHO', 31),
 ('OLARIA', 311),
 ('CIDADE DE DEUS', 170),
 ('TANQUE', 198),
 ('COLÉGIO', 141),
 ('JARDIM SULACAP', 80),
 ('VILA VALQUEIRE', 198),
 ('GARDÊNIA AZUL', 103),
 ('VARGEM GRANDE', 55),
 ('JARDIM CARIOCA', 121),
 ('ROCHA MIRANDA', 245),
 ('ROCHA', 54),
 ('MARIA DA GRAÇA', 52),
 ('LEBLON', 231),
 ('SEPETIBA', 235),
 ('CURICICA', 157),
 ('HIGIENÓPOLIS', 99),
 ('DEODORO', 56),
 ('PARADA DE LUCAS', 102),
 ('ACARI', 122),
 ('JARDIM AMÉRICA', 140),
 ('MANGUINHOS', 110),
 ('INHAÚMA', 237),
 ('VIDIGAL', 54),
 ('ANCHIETA', 230),
 ('MARACANÃ', 154),
 ('COMPLEXO DO ALEMÃO', 131),
 ('VAZ LOBO', 68),
 ('TURIAÇU', 76),
 ('SÃO CRISTOVÃO', 144),
 ('OSWALDO CRUZ', 220),
 ('JACARÉ', 53),
 ('SAÚDE', 4),
 ('TAUÁ', 119),
 ('ÁGUA SANTA', 33),
 ('CIDADE NOVA', 25),
 ('ESTÁCIO', 96),
 ('CAMORIM', 25),
 ('HUMAITÁ', 54),
 ('COSTA BARROS', 105),
 ('BARROS FILHO', 66),
 ('CAMPINHO', 60),
 ('URCA', 28),
 ('CIDADE UNIVERSITÁRIA', 7),
 ('VARGEM PEQUENA', 79),
 ('RIBEIRA', 23),
 ('GERICINÓ', 2),
 ('ENGENHEIRO LEAL', 24),
 ('JOÁ', 6),
 ('RECREIO DOS BANDEIRANTES', 435),
 ('MADUREIRA', 275),
 ('IPANEMA', 234),
 ('TAQUARA', 599),
 ('TIJUCA', 981),
 ('BENTO RIBEIRO', 250),
 ('GÁVEA', 81),
 ('COPACABANA', 983),
 ('BANCÁRIOS', 55),
 ('PILARES', 152),
 ('PECHINCHA', 215),
 ('IGNORADO', 275),
 ('CORDOVIL', 210),
 ('BENFICA', 147),
 ('PARQUE ANCHIETA', 156),
 ('MAGALHÃES BASTOS', 121),
 ('PAVUNA', 388),
 ('PRAIA DA BANDEIRA', 24),
 ('VISTA ALEGRE', 62),
 ('PADRE MIGUEL', 365),
 ('SANTÍSSIMO', 228),
 ('LARANJEIRAS', 206),
 ('MONERO', 39),
 ('JARDIM GUANABARA', 140),
 ('ANDARAÍ', 219),
 ('PENHA CIRCULAR', 218),
 ('CACHAMBI', 233),
 ('COCOTÁ', 24),
 ('CAVALCANTE', 83),
 ('ENGENHO DE DENTRO', 260),
 ('MARÉ', 331),
 ('MARECHAL HERMES', 262),
 ('IRAJÁ', 557),
 ('TODOS OS SANTOS', 146),
 ('PEDRA DE GUARATIBA', 58),
 ('FLAMENGO', 254),
 ('BOTAFOGO', 344),
 ('COELHO NETO', 190),
 ('JARDIM BOTÂNICO', 61),
 ('VILA KOSMOS', 82),
 ('VASCO DA GAMA', 58),
 ('CACUIA', 70),
 ('GUADALUPE', 258),
 ('CATETE', 113),
 ('SANTO CRISTO', 57),
 ('RIACHUELO', 77),
 ('ANIL', 151),
 ('GUARATIBA', 446),
 ('HONÓRIO GURGEL', 75),
 ('FREGUESIA (ILHA DO GOVERNADOR)', 90),
 ('PENHA', 301),
 ('BONSUCESSO', 182),
 ('PIEDADE', 235),
 ('PARQUE COLUMBIA', 33),
 ('SANTA TERESA', 162),
 ('SAMPAIO', 48),
 ('QUINTINO BOCAIUVA', 136),
 ('VILA MILITAR', 51),
 ('ITANHANGÁ', 118),
 ('TOMÁS COELHO', 88),
 ('GRAJAÚ', 177),
 ('SÃO FRANCISCO XAVIER', 33),
 ('SENADOR VASCONCELOS', 146),
 ('ALTO DA BOA VISTA', 62),
 ('RICARDO DE ALBUQUERQUE', 110),
 ('CAMPO DOS AFONSOS', 10),
 ('LEME', 81),
 ('PRAÇA DA BANDEIRA', 52),
 ('VICENTE DE CARVALHO', 119),
 ('BARRA DE GUARATIBA', 25),
 ('ROCINHA', 136),
 ('MANGUEIRA', 52),
 ('CAJU', 67),
 ('GALEÃO', 66),
 ('PAQUETÁ', 13),
 ('JACARÉZINHO', 99),
 ('ZUMBI', 10)]

## Exercícío:

(1) Aplique o mesmo raciocínio de agregação para as demais categorias de evolução de pacientes COVID-19 <br>
(2) Experimente as três abordagens

### Cálculo de Mortalidade Segundo o Gênero

In [170]:
# Utilizando Built-in Functions do DataFrame

df_dados_covid.select("NM_BAIRRO","sexo", "evolucao").\
               where(col("evolucao") == "Óbito").where(col("NM_BAIRRO") == "COSMOS").\
               groupBy("NM_BAIRRO","sexo", "evolucao").\
               agg(count("*").alias("Total de Óbitos")).\
               withColumn("Mortalidade %", 100*(col("`Total de Óbitos`")/ df_dados_covid.filter(col("NM_BAIRRO")=="COSMOS").filter(col("evolucao") == "Óbito").count()) ).\
               show()

+---------+----+--------+---------------+-----------------+
|NM_BAIRRO|sexo|evolucao|Total de Óbitos|    Mortalidade %|
+---------+----+--------+---------------+-----------------+
|   COSMOS|   M|   Óbito|            158|52.84280936454849|
|   COSMOS|   F|   Óbito|            141|47.15719063545151|
+---------+----+--------+---------------+-----------------+

## Exercícío:

(1) Experimente encontrar outras relações, como taxa de curados por bairro, sexo e evolução

## Exercício: <br>

(1) Realize operações sobre o arquivo <i>sales.csv</i>

In [46]:
url_sales = 'https://drive.google.com/uc?id=1g1tZmCmwxI8NtkHFJEse0IohwFbEWf52'
output_sales = './files/sales.csv' 

# Baixando dados sobre vendas de uma empresa de informática
path_dados_sales= gdown.download(url_sales, output_sales, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1g1tZmCmwxI8NtkHFJEse0IohwFbEWf52
To: /application/application/files/sales.csv
100% 204k/204k [00:00<00:00, 1.00MB/s]

In [47]:
! cd files && ls

dados_covid.csv  sales.csv

In [50]:
df_vendas = spark.read.format("csv").\
              option("header", "true").\
              option("inferSchema", "true").\
              load(path_dados_sales)

In [51]:
df_vendas.show()

+--------------------+
|     <!DOCTYPE html>|
+--------------------+
|<html lang="en" d...|
|              <head>|
|    <meta charset...|
|  <link rel="dns-...|
|  <link rel="dns-...|
|  <link rel="dns-...|
|  <link rel="dns-...|
|  <link rel="prec...|
|  <link rel="prec...|
|  <link crossorig...|
|  <link crossorig...|
|    <link crossor...|
|    <link crossor...|
|    <link crossor...|
|  <script crossor...|
|    <script cross...|
|    <script cross...|
|  <script crossor...|
|    <script cross...|
|    <script cross...|
+--------------------+
only showing top 20 rows

In [ ]:
group d ata = d f . groupBy ( ’ Company ’ )